/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.header {
    background-color: blue;
    color: white;
}

.banner {
    font-size: 48px;
    padding: 20px;
}

.navigation {
    background-color: blue !important;
}

.navigation>div>ul>li>a {
    color: white !important;
}